@model List<PokeDex.Core.Application.ViewModels.Pokemon.PokemonViewModel>
@{
    ViewData["Title"] = "Mantenimiento Pokemones";
}

<div class="container-fluid mt-5">

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a asp-controller="Pokemon" asp-action="Create" class="btn btn-outline-success" type="button" >Agregar Pokemon</a>
    </div>

    <div class="row">

        @if (Model.Count == 0 || Model == null)
        {
            <h1> No hay Pokemones para mostrar!!</h1>
        }
        else
        {
            @foreach (PokeDex.Core.Application.ViewModels.Pokemon.PokemonViewModel item in Model)
            {
                <div class="col-lg-4">
                    <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="@item.ImageUrl" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false" />
                    <h2 class="fw-normal">@item.Nombre</h2>
                    <p>Region: @item.RegionName</p>
                    <p>Tipo: @item.TipoNombre</p>
                    <div class="btn-group">
                        <a asp-controller="Pokemon" asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-primary">Editar</a>
                        <a asp-controller="Pokemon" asp-action="DeletePokemon" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-danger">Eliminar</a>
                    </div>
                </div>
            }
        }

    </div>


</div>


